<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="layout {{ bodyClass }}">
    {% include "layout/header.njk" %}
    <main id="swup" class="layout-main transition-main header-offset">
      {{ content | safe }}
    </main>
    {% include "layout/footer.njk" %}
  </body>
</html>