<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="{{ bodyClass }}">
    <main id="swup" class="transition-slide-in">
      {{ content | safe }}
<section class="banner">
  <div class="container level banner-text">
    <h1 class="title major-title"></h1>
  </div>
</section>
<section class="filter major-container">
</section>
<section class="search-bar-section">
  <div class="search-bar-wrapper">
    <p class="control has-icons-left">
        <input class="search-bar" type="text" placeholder="search">
        <span class="icon is-left search-icon">
          <i class="fas fa-search"></i>
        </span>
    </p>
  </div>
</section>

<section class="student-profiles student-profile-container">
</section>
    </main>
  </body>
</html>