.about-orb-cont {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.about-orb {
  height: 600px;
  width: 600px;
  min-width: 600px;
  transform: translate(150px, -200px);
}

.values {
  max-width: 1400px;
}

.value-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.is-flex-1 {
  flex: 1;
}

.is-flex-2 {
  flex: 2;
}
.is-flex-3 {
  flex: 3;
}

.about-space-bottom {
  margin-bottom: 6rem;
}

.about-space-top {
  margin-top: 6rem;
}

.about-hero {
  display: flex;
  margin-bottom: 2rem;
}

.credits-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  * + h4 {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .credits-cont {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about-hero {
    flex-direction: column-reverse;
    .about-space-top {
      margin-top: 0;
      margin-bottom: 6rem;
    }
  }
  .about-orb-cont {
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: -8rem;
  }
  .about-orb {
    transform: translate(-150px, -200px);
    height: 400px;
    width: 400px;  
    min-width: 400px;  
    min-height: 400px;  
  }
  .value-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .value-grid {
    grid-template-columns: 1fr;
  }
}
