.navbar {
    box-shadow: $box-shadow;
    position: fixed;
    width: 100%;
    height: 65px;
    .navbar-brand .navbar-item img {
        max-height: unset;
    }
    .navbar-brand {
        .navbar-item {
            padding: 0 !important;
        }
        height: 100% !important;
    }
    .navbar-burger {   
        height: 100% !important;
    }
    .navbar-burger:hover {
        color: $b-darker-gray;
    }
}

.navbar-item {
    padding: 1.4rem;
}
  
.navbar-students {
    margin: auto 2em;
    padding: 0 1em !important;
    a {
        font-weight: bold;
        transition: all ease 0.3s;
    }
}

.navbar-end {
    align-items: stretch;

    & > * + * {
        margin-left: 2em;
    }
}

.navbar-dropdown a.navbar-item {
    display: block;
}

#home-btn {
    opacity: 0;
    font-weight: bold;
    transition: $transition;
}
.dynamic-gradient{
    background: linear-gradient(45deg, #f5b01b, #f15528, #d82690, #40c3d4, #39ac5b);
    background-size: 200% 200%;
    animation: gradient 5s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 1023px) {
    .dynamic-gradient {
        background: unset;
        color: $b-black !important;
        font-weight: inherit;
    }
    .navbar-students {
        margin: 0;
        padding: unset !important;
    }

    .navbar-end > * + * {
         margin-left: 0em;
         padding: 0.5rem 0.75rem;
    }
    
    .navbar-item .navbar-link {
        padding: unset unset unset 1em !important;
    }

    .dropdown {
        .dropdown-trigger {
            display: none;
        }
        .dropdown-menu {
            display: flex;
            position: relative;
        }
    }
}

.footer-content {
    display: flex;
    .nav {
        display: flex;
        & > * + * {
            margin-left: 20px;
        }
    }
      
}

@media only screen and (max-width: 769px) {
    .footer-content {
        display: block;
        .nav {
            display: block;
            & > * {
                margin-top: 10px;
            }
            & > * + * {
                margin-left: 0;
            }    
        }
    }
}