// General Styles ----------------------------------------------------------- /

body {
    width: 100vw;
}

section {
    position: relative;
    background-color: black;
    height: fit-content;
}

.section-divider {
    border: 3px solid black;
    margin: 0;
}

.main-content {
    padding: 48px;
}

// Shapes ------------------------------------------------------------------- /
.shape-circle {
    // TODO - Make the size responsive
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: $b-black;
}

.shape-square {
    height: 75vh;
    width: 90vw;
    background-color: $b-darker-gray;
}

// Hero --------------------------------------------------------------------- /

.home-banner {
    height: 80vh;
    margin: 0;

    // Used temporarily until we have the actual hero asset put onto the page
    background-image: url(https://images.prismic.io/iaesydney/bda3aa62a7bb8d70ae9221b61b263a2c4f97593b_curtin-1.jpg?auto=compress,format);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    filter: grayscale(100%);
    -webkit-filter: greyscale(100%);

    h1 {
        backdrop-filter: brightness(50%);
    }
}

// Content ------------------------------------------------------------------ /

.main-content {
    article {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    article.left {
        margin-right: 40vw;
    }

    article.left>p {
        margin-right: 20vw;
    }

    article.right {
        text-align: right;
        margin-left: 40vw;
    }

    .disciplines-container {
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        text-align: center;

        div + div {
            margin-left: 12px;
        }

        div > p {
            position: relative;
            top: 120%;
        }
    }
}

// Secondary Content
.secondary-content {
    display: flex;
    justify-content: center;
}

.media-content {
    height: 85vh;
    padding-bottom: 15vh;
}

// Placeholder Student Navigation Button Orbs

.illustration-discipline {
    background: rgb(31, 166, 59);
    background: -moz-radial-gradient(circle, rgba(31, 166, 59, 1) 0%, rgba(44, 113, 39, 0.4086021505376344) 100%);
    background: -webkit-radial-gradient(circle, rgba(31, 166, 59, 1) 0%, rgba(44, 113, 39, 0.4086021505376344) 100%);
    background: radial-gradient(circle, rgba(31, 166, 59, 1) 0%, rgba(44, 113, 39, 0.4086021505376344) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1fa63b", endColorstr="#2c7127", GradientType=1);
}

.digital-discipline {
    background: rgb(47, 193, 240);
    background: -moz-radial-gradient(circle, rgba(47, 193, 240, 1) 0%, rgba(49, 104, 191, 0.25268817204301075) 100%);
    background: -webkit-radial-gradient(circle, rgba(47, 193, 240, 1) 0%, rgba(49, 104, 191, 0.25268817204301075) 100%);
    background: radial-gradient(circle, rgba(47, 193, 240, 1) 0%, rgba(49, 104, 191, 0.25268817204301075) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2fc1f0", endColorstr="#3168bf", GradientType=1);
}

.ca-cd-discipline {
    background: rgb(236, 69, 47);
    background: -moz-radial-gradient(circle, rgba(236, 69, 47, 1) 0%, rgba(236, 96, 47, 0.3306451612903226) 100%);
    background: -webkit-radial-gradient(circle, rgba(236, 69, 47, 1) 0%, rgba(236, 96, 47, 0.3306451612903226) 100%);
    background: radial-gradient(circle, rgba(236, 69, 47, 1) 0%, rgba(236, 96, 47, 0.3306451612903226) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec452f", endColorstr="#ec602f", GradientType=1);
}

.agd-discipline {
    background: rgb(128, 47, 159);
    background: -moz-radial-gradient(circle, rgba(128, 47, 159, 1) 0%, rgba(209, 11, 180, 0.3306451612903226) 100%);
    background: -webkit-radial-gradient(circle, rgba(128, 47, 159, 1) 0%, rgba(209, 11, 180, 0.3306451612903226) 100%);
    background: radial-gradient(circle, rgba(128, 47, 159, 1) 0%, rgba(209, 11, 180, 0.3306451612903226) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#802f9f", endColorstr="#d10bb4", GradientType=1);
}

// Responsiveness ----------------------------------------------------------- /

@media screen and (max-width: 1024px) {


}
@media screen and (max-width: 770px) {


}