.home-banner video {
  object-fit: cover;
  min-height: 100vh;
}

.home-left {
  max-width: 900px;
}

.home-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.disciplines-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  img {
    width: 60px;
  }
  a + a {
    margin-top: 1rem;
  }

  .discipline {
    display: flex;
    align-items: center;
    img {
      margin-left: 1em;
    }
  }
}

.disciplines-container > * + * {
  margin-left: 20px;
}

@media only screen and (max-width: 500px) {
  .disciplines-container {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;

    .discipline {
      flex-direction: row-reverse;
      img {
        margin-left: 0;
        margin-right: 1em;
      }  
    }
  }
  .disciplines-container > * + * {
    margin-left: 0;
  }  
  .home-right {
      align-items: flex-start;
  }
}

.main-home-padding {
  padding-top: 8em;
  padding-bottom: 8em;
}