@charset "utf-8";

// Import Fonts
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
    url('./fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'DIN Regular';
  src: url('./fonts/DIN-Regular.woff2') format('woff2'),
    url('./fonts/DIN-Regular.otf') format('opentype');
}

// Set your brand colors
$b-black: #292929;
$b-white: #ffffff;
$b-darker-gray: #515151;
$b-dark-gray: #979797;
$b-light-gray: #bdbdbd;
$b-lighter-gray: #ebebeb;

// Update Bulma's global variables
$family-secondary: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
$family-primary: 'DIN Regular', 'Helvetica Neue', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  sans-serif;
$grey-dark: $b-black;
$grey-light: $b-lighter-gray;
$primary: $b-light-gray;
$link: $b-black;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $b-white;

$button-color: $b-black;
$button-background-color: $b-white;
$button-border-width: 0;
$button-hover-color: $b-darker-gray;
$button-focus-color: $b-dark-gray;
$button-active-color: $b-dark-gray;
$radius-small: 0;
$radius: 0;
$radius-large: 0;
$title-color: $b-white;

h1,
h2,
h3,
h4,
h5 {
  font-family: $family-secondary;
}

// Update some of Bulma's component variables
$body-background-color: $b-lighter-gray;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import 'bulma';

.dark{
  background-color: $b-black;
}

.transition-slide-in {
  transition: 0.3s;
  opacity: 1;
  transform: translateX(0);
}

html.is-animating .transition-slide-in {
  transform: translateX(-20px);
  opacity: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-main {
  flex-grow: 1;
}

.min-h-600 {
  min-height: 600px;
}

.max-w-600 {
  max-width: 600px;
}

.max-w-500 {
  max-width: 500px;
}
.height-100{
  height: 100%;
}
.flex-column {
  flex-direction: column;
}
.fit-cover {
  object-fit: cover;
}

.w-full {
  width: 100%;
}

@media only screen and (max-width: 769px) {
  .stacked-max-h-600 {
    max-height: 600px;
  }
}
@media only screen and (min-width: 769px) {
  .wide-min-h-600 {
    min-height: 600px;
  }
  .wide-min-h-full {
    min-height: 100%;
  }
}

$tooltip-radius: 0px;
$tooltip-background-color: $b-black;
$tooltip-arrow-size: 12px;
$tooltip-padding: 0.7rem 1.5rem;
@import '@creativebulma/bulma-tooltip';

// Page Styling Imports
@import './home.scss';
@import './listing.scss';
@import './header.scss';
@import './student.scss';