@charset "utf-8";

// Import Fonts
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
    url('./fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'DIN Regular';
  src: url('./fonts/DIN-Regular.woff2') format('woff2'),
    url('./fonts/DIN-Regular.otf') format('opentype');
}

// Set your brand colors
$b-actuallyblack: #000; // use this color for the footer
$b-black: #0f0f0f;
$b-white: #ffffff;
$b-darker-gray: #292929;
$b-dark-gray: #747474;
$b-light-gray: #9c9c9c;
$b-lighter-gray: #ebebeb;
$transition: 0.2s all ease-in-out;

$dropdown-item-color: $b-black;
$navbar-item-color: $b-black;
$navbar-item-hover-color: $b-darker-gray;

// Update Bulma's global variables
$family-secondary: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
$family-primary: 'DIN Regular', 'Helvetica Neue', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  sans-serif;
$grey-dark: $b-black;
$grey-light: $b-lighter-gray;
$primary: $b-light-gray;
$link: $b-white;
$link-hover: $b-white;
$link-focus: $b-light-gray;
$link-active: $b-light-gray;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: $b-light-gray;

$button-color: $b-black;
$button-background-color: $b-white;
$button-border-width: 0;
$button-hover-color: $b-darker-gray;
$button-focus-color: $b-dark-gray;
$button-active-color: $b-dark-gray;
$radius-small: 0;
$radius: 0;
$radius-large: 0;
$title-color: $b-white;

$black: #0f0f0f;

.fadein, .fadein-quick {
  transition: $transition;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $family-secondary;
  color: $b-white;
  font-weight: 700 !important;
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

$page-padding: 3rem;
$page-padding-mobile: 1.5rem;
.page-padding {
  padding-left: $page-padding !important;
  padding-right: $page-padding !important;
}
.page-padding-all {
  padding: $page-padding !important;
}
.page-padding-left {
  padding: $page-padding !important;
}
@media only screen and (max-width: 800px) {
  .page-padding {
    padding-left: $page-padding-mobile !important;
    padding-right: $page-padding-mobile !important;
  }
  .page-padding-all {
    padding: $page-padding-mobile !important;
  }
  .page-padding-left {
    padding: $page-padding-mobile !important;
  }  
}

.text-color {
  color: $text !important;
}

* {
  outline: none !important;
}

// Update some of Bulma's component variables
$body-background-color: $b-lighter-gray;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import 'bulma';

.dark{
  background-color: $b-black;
}

.button.is-medium {
  font-size: inherit;
  min-height: 50px;
  min-width: 110px;
}

.scale {
  transition: 0.1s ease-in-out
}
.scale:hover {
  z-index: 999;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
}
.scale:focus, .scale:active {
  transform: scale(1) !important;
}

.min-h-full {
  min-height: 100vh;
}

.header-offset {
  margin-top: 65px;
}

.transition-slide-in {
  transition: 0.3s;
  opacity: 1;
  transform: translateX(0);
}

.items-center {
  align-items: center;
}
.spaced > * + * {
  margin-left: 20px;
}

html.is-animating .transition-slide-in {
  transform: translateY(-20px);
  opacity: 0;
}

body {
  background-color: $b-black;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-main {
  flex-grow: 1;
}

.min-h-900 {
  min-height: 900px;
}

.max-w-600 {
  max-width: 600px;
}

.max-w-500 {
  max-width: 500px;
}
.height-100{
  height: 100%;
}
.flex-column {
  flex-direction: column;
}
.fit-cover {
  object-fit: cover;
}

.w-full {
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .stacked-max-h-600 {
    max-height: 600px;
  }
  .wide-min-h-600 {
    min-height: 600px;
  }
  .wide-min-h-full {
    min-height: 100%;
  }
}

$tooltip-radius: 0px;
$tooltip-background-color: $b-black;
$tooltip-padding: 0.7rem 1.5rem;
$tooltip-background-opacity: 1;
$tooltip-font-size: 1rem;
$tooltip-radius: 0;

// Page Styling Imports
@import './home.scss';
@import './listing.scss';
@import './header.scss';
@import './student.scss';