.profile-listing-showreel-container {
    height: 80vh;
    background-color: $b-darker-gray;
}

.banner {
    background-color: $b-black;
    display: flex;
    flex-direction: row;
    height: 250px;
    align-items: center;
    overflow: hidden;

    .banner-img {
        height: 800px;
        width: 800px;
        margin-left: auto;
        transform: translateX(200px);
        max-width: unset;
    }

    .banner-text {
        text-align: left;
        margin: 0 !important;
        color: white;
        position: absolute;
        z-index: 2;
        h3 {
            margin-bottom: 0.5rem;
        }

        h1 {
            color: white;
            font-size: 3rem;
            text-transform: uppercase;
        }
    }
}

.search-bar-wrapper {
    width: 100%;
    max-width: 500px;  
}

.search-bar-section {
    display: flex;

    .search-bar {
        width: 100%;
        font-size: 0.8em;
        height: 2rem;
        background: #fff;
        color: $b-black;
        border-style: none;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
    }

    .search-bar:focus {
        outline: none;
    }

    .search-icon {
        i {
            color: $b-black;

        }
    }
}

// INDIVIDUAL STUDENT LISTINGS
.student-profiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}

.profile-container {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    
    .student-name {
        margin-top: 7px;
        font-size: 1.2em;
        font-weight: bold;
        color: $b-black;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 3px;
        margin-top: 10px;
    }
    .student-major {
        width: 30px;
        height: 30px;
    }
    .student-major-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 5px 8px 8px 10px;

        .student-major {
            margin: 0 5px;
        }
    }
    .student-img {
        width: 100%;
        height: 250px;
        transition: 0.2s;
    }

    // .profile-btn {
    //     flex-grow: 1;
    //     background-color: $b-black;
    //     border: none;
    //     outline: none;
    //     font-size: 0.8rem;
    //     color: white;
    //     text-align: center;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 8px 18px;
    // }
    .profile-btn-cont {
        display: flex;
        justify-content: flex-start;
        & > * + * {
            margin-left: 0.5rem;
        }
    }
}

// MEDIA QUERY

@media screen and(max-width: 690px) {
    .banner-img {
        transform: translateX(50vw) !important; 
    }
}