.banner {
    background-color: #191919;
    display: flex;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    padding-left: 5%;

    .banner-img {
        border-radius: 2000px;
        background-color: #fff;
        height: 60vh;
        width: 60vh;
        margin-left: auto;
        transform: translateX(10vw);
        clip-path: inset(20vh 0);
    }

    .banner-text {
        display: flex;
        text-align: left;
        margin: 0 !important;
        color: white;
        flex-direction: column;

        .major-intro {
            
        }

        h1 {
            color: white;
            font-size: 3rem;
            text-transform: uppercase;
        }
    }
}

.filter {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw 0vw;
    font-weight: bold;

    a {
        text-transform: uppercase;
        color: #505050;
        text-align: center;

    }
    a:hover {
        color: #191919;
        border-bottom: 1px solid #191919;
    }
}

.search-bar-section {
    width: 30%;
    display: flex;
    align-items: stretch;
    justify-content: center;

    .search-bar-wrapper {
        margin-left: 10vw;
    }

    .search-bar {
        width: 100%;
        height: 2rem;
        background: #fff;
        color: #191919;
        border-style: none;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        font-size: 1.5rem;
        box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
        font-size: 0.8rem;
    }

    .search-bar:focus {
        outline: none;

    }

    .search-icon {
        font-size: 1rem;
        
    }

}

// INDIVIDUAL STUDENT LISTINGS
.student-profiles {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.profile-container {
    width: 250px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px #ebebeb;
    opacity: 0;

    .student-name {
        margin-top: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        color: #433737;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .student-major {
        width: 30px;
        height: 30px;
    }
    .student-major-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 250px;
        padding: 5px 8px 8px 10px;

        .student-major {
            margin: 0 5px;
        }
    }
    .student-img {
        width: 100%;
        height: 250px;
        transition: 0.2s;
    }
    .major-ball-container {
        
    }
    .profile-btn {
        background-color: #191919;
        border: none;
        outline: none;
        font-size: 0.7rem;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
    }
}

// MEDIA QUERY

@media screen and(max-width: 690px) {
    .filter {

        a {
            font-size: 0.7rem;
            margin: 2px;
            
        }
    }
}

@media screen and (max-width: 960px) {

    .filter {
        padding: 0 10px 0;
        a {
            font-size: 0.8rem;
        }
    }

    .profile-container {
        width: 200px;
        height: 350px;

        .student-major-container {
            width: 200px;
            margin-top: auto;
        }

        .student-name {
            margin-top: 5px;
            font-size: 1.2rem;
            
        }
        .student-spec {
            
        }
        .student-img {
            width: 200px;
            height: 200px;
        }
        .profile-btn {
        }
    }
}

@media screen and (max-width: 490px) {
    .profile-container {
        width: 175px;
        height: 300px;

        .student-name {
            margin-top: 5px;
            font-size: 1.2rem;
            
        }
        .student-spec {
            
        }
        .student-img {
            width: 200px;
            height: 200px;
        }
        .profile-btn {

            padding: 10px 20px 10px;
            font-size: 1.5rem;
          
            margin: 20px 10px 0px;
        }
    }
}