.student-image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.student-grid-large-last.student-image-grid :last-child {
    grid-column: span 2;
}

.z-1 {
    z-index: 1;
}

.profile-col-left {
    position: relative;
    overflow: hidden;
}

.student-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.major-orbs {
    position: absolute;
    z-index: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: -100px;
    right: -100px;
    top: 0;
    img {
        transform: translateY(50%);
    }
    img + img {
        transform: translateY(0);
    }
}

.major-orbs.single-orb {
    img {
        transform: translateY(0);
    }
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 20px;
    i {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 750px) {
    .student-image-grid {
        gap: 0;
        grid-template-columns: 1fr;
        & > * + * {
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: 1500px) {
    .major-orbs {
        display: block;
        position: relative;
        right: unset;
        top: unset;
        bottom: unset;
        transform: translateY(90px) translateX(-70px) !important;
        margin-top: -40px;
        img {
            display: inline-block;
            width: 40%;
            transform: translateY(0) !important;
        }
        img + img {
            transform: translateX(-50%) !important;
        }
    }
    .portfolio-image img {
        margin-bottom: -10px;
    }   
}

.port-info {
    display: flex;
    align-items: center;
    & > * + * {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 769px) {
    .major-orbs {
        transform: translateY(70px) translateX(-50px) !important;
    }
}

@media only screen and (max-width: 900px) {
    .port-info {
        flex-direction: column;
        align-items: stretch; 
        & > * + * {
            margin-left: 0;
            margin-top: 2rem;
        }    
    }
    .portfolio-image {
        min-height: 300px;
    }
    .student-columns {
        grid-template-columns: 1fr;
        & :first-child {
            grid-row: 2;
        }
    }
}