<footer class="page-padding py-4">
  <div class="footer-content">
    <div class="footer-left">
      <img src="/imgs/curtin-logo.png" width="200" alt="Curtin University">
    </div>
    <div class="nav">
      <a href="/about">
        <p>About</p>
      </a>
      <a href="https://www.instagram.com/curtindesign2020/" target="_blank" rel="noopener noreferrer">
        <p>@curtindesign2020</p>
      </a>
      <a href="https://2019.curtindesign.com/" target="_blank" rel="noopener noreferrer">
        <p>2019 Grad Show</p>
      </a>
    </div>
  </div>
</footer>