<footer class="page-padding py-4 pt-6">
  <div class="content is-flex">
    <p class="layout-main">Curtin University</p>
    <div class="is-flex spaced">
      <p>About</p>
      <p>@instagram</p>
      <p>2019 Grad Show</p>
    </div>
  </div>
</footer>