<nav class="navbar px-4" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">      
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="/about">
        About
      </a>
      <a class="navbar-item" href="/student">
        Student
      </a>
      <a class="navbar-item" href="/listing">
        Student Listing
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Disciplines
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Digital Design
          </a>
          <a class="navbar-item">
            Graphic Design
          </a>
          <a class="navbar-item">
            Another One
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <a class="button is-light">
        Contact
        </a>
      </div>

    </div>
  </div>
</nav>