---
title: Page Not Found
layout: default
permalink: 404.html
description: The page you were looking for could not be found. Disruption 2020 features graduates across the majors of Animation & Game Design, Creative Advertising & Graphic Design, Digital Design, and Illustration.
---

<div class="page-padding my-6 error-page">
    <div class="max-w-500">
        <img src="/imgs/notfound.png" width="200" class="mb-6 transition-fadeout" alt="Not Found">
        <h1 class="title">Page Not Found</h1>
        <p class="mb-6 transition-fadeout">
            Either the page was dragged to the one place on the 
            screen with the trash can, or could not be found.
        </p>
        <a href="/">
            <button class="button is-white">Home</button>
        </a>
    </div>
</div>