---
title: Oops! Page Not Found!
layout: default
permalink: 404.html
---

<div class="px-6 py-6">
    <h1 class="title">Error 404<br/>Page Not Found!</h1>
    <a class="subtitle" href="/">Go Home</a>
</div>