---
layout: default
title: About Us
---

<div class="is-flex spaced about-banner min-height">
    <div class="is-flex-1 my-6 page-padding">

        <h1 class="title is-size-1 is-size-4-mobile">About Us</h1>

        <p class="max-w-600 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor a volutpat, porttitor aliquet nulla proin 
            molestie urna. Volutpat nunc vel leo, vestibulum velit et. Placerat vulputate ipsum sollicitudin est 
            ultrices. Lectus sit dictum cras id. Nec, nibh commodo lacus est, ullamcorper mollis egestas interdum nibh. 
            Sed risus integer sit urna.
        </p>
        <p class="max-w-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor a volutpat, porttitor aliquet nulla proin 
            molestie urna. Volutpat nunc vel leo, vestibulum velit et. Placerat vulputate ipsum sollicitudin est 
            ultrices. Lectus sit dictum cras id. Nec, nibh commodo lacus est, ullamcorper mollis egestas interdum nibh. 
            Sed risus integer sit urna.
        </p>

    </div>

    <div class="is-flex-1">
        <img src="../imgs/orbs/all.png" class="about-orb" alt="">
    </div>
    
</div>

<div class="values page-padding mb-6">
    <h1 class="title is-size-1 is-size-4-mobile">Our Values</h1>
</div>

<div class="is-flex spaced values page-padding mb-6">

    <div class="is-flex-1 ">
        <h4 class="is-size-5 mb-3 max-w-600">Community</h4>
        <p class="">
            Create a graduating cohort that is comfortable and confident 
            working with each other on industry projects beyond graduation.
        </p>
    </div>
    <div class="is-flex-1">
        <h4 class="is-size-5 mb-3 max-w-600">Enthusiasm</h4>
        <p class="">
            Be passionate about user experience, and express a genuine 
            commitment to the various design disciplines.
        </p>

    </div>
    <div class="is-flex-1 ">
        <h4 class="is-size-5 mb-3 max-w-600">Honesty</h4>
        <p class="">
            Be honest about capabilities, intentions, and sudden realisations; 
            allowing others ample time to accept and adjust to hiccups without stress.
        </p>

    </div>
    <div class="is-flex-1">
        <h4 class="is-size-5 mb-3 max-w-600">Inclusion</h4>
        <p class="">
            Proactively seek opportunities for both confident and introverted members to contribute, 
            practicing patience to ensure that no member is isolated within their role.
        </p>
        
    </div>
    
</div>

<div class="values page-padding mb-6">
    <h1 class="title is-size-1 is-size-4-mobile">Credits</h1>
</div>

<p class="page-padding small-text max-w-600 mb-4">
    We, the 2020 graduates acknowledge the Whadjuk people of the Noongar peoples 
    as the traditional owners of the land on which we have studied. We pay our deepest 
    respects to their Elders; past, present, and emerging.
</p>




