---
layout: default
title: About // Disruption 2020 // Curtin Grad Show
---

<div class="spaced about-hero">
    <div class="layout-main page-padding about-space-top">
        <h1 class="title is-size-1 is-size-4-mobile">About Us</h1>

        <div class="transition-fadeout">
            <p class="max-w-600 mb-4">
                Disruption 2020 features graduates across the majors of Animation & 
                Game Design, Creative Advertising & Graphic Design, Digital Design, 
                and Illustration. Our time at Curtin University has not been without disruption, 
                having spent the bulk of first semester fully online during the pandemic 
                lockdown. The return to campus was a momentous occasion for us final year 
                students. It only served to shift our beautifully warped minds into even 
                more creative territory. Friendships were formed, nicknames were earned, 
                and skills were refined. 
            </p>
            <p class="max-w-600">
                None of these achievements would have been possible without the support 
                of the Graduates Staff Committee, Curtin University, our families, friends, 
                pets, and baristas. It is with unreserved joy and satisfaction that we 
                present our portfolios to industry.
            </p>
        </div>
    </div>
    <div class="about-orb-cont entry-slidein">
        <img src="../imgs/orbs/all.png" class="about-orb" alt="">
    </div>
</div>

<div class="values page-padding about-space-bottom">
    <h2 class="title is-size-2 is-size-5-mobile">Our Values</h2>
    <div class="value-grid transition-fadeout">
        <div>
            <h4 class="is-size-5 is-size-6-mobile mb-3 max-w-600">Community</h4>
            <p class="">
                Create a graduating cohort that is comfortable and confident 
                working with each other on industry projects beyond graduation.
            </p>
        </div>
        <div>
            <h4 class="is-size-5 is-size-6-mobile mb-3 max-w-600">Enthusiasm</h4>
            <p class="">
                Be passionate about user experience, and express a genuine 
                commitment to the various design disciplines.
            </p>
        </div>
        <div>
            <h4 class="is-size-5 is-size-6-mobile mb-3 max-w-600">Honesty</h4>
            <p class="">
                Be honest about capabilities, intentions, and sudden realisations; 
                allowing others ample time to accept and adjust to hiccups without stress.
            </p>
        </div>
        <div>
            <h4 class="is-size-5 is-size-6-mobile mb-3 max-w-600">Inclusion</h4>
            <p class="">
                Proactively seek opportunities for both confident and introverted members to contribute, 
                practicing patience to ensure that no member is isolated within their role.
            </p>  
        </div>
    </div>
</div>

<div class="page-padding about-space-bottom">
    <h2 class="title is-size-2 is-size-5-mobile">Credits</h2>
    <div class="credits-cont transition-fadeout">
        <div>
            <h4>Treasury</h4>
            <p>Cheryl Owyong - Treasurer</p>
            <p>Frankie Alarkon - Treasurer</p>

            <h4>Communication</h4>
            <p>Jess Brown - Lead Graduate Liaison</p>
            <p>Naomi Gunton - Graduate Liaison</p>
            <p>David Menzies - Discord Owner</p>
            <p>Francis Villarba - Trello Owner</p>

            <h4>Identity Design</h4>
            <p>Will Scott - Graphic Designer</p>

            <h4>Photography</h4>
            <p>Jess Brown - Creative Director</p>
            <p>Francis Villarba - Photographer/Vetting</p>
            <p>Justin Ha - Photographer/Vetting</p>
            <p>Luke Fordham - Props/Equipment</p>
            <p>Tommy Woodward - Post Production</p>
            <p>Will Stanway - Photographer/Lenses</p>
            <p>Mike Hall - Forms</p>

            <h4>Instagram </h4>
            <p>Tom Brennan - Owner</p>
            <p>Will Scott - Content Designer</p>
            <p>Naomi Gunton - Content Strategy</p>
            <p>Chloe Spence - Admin</p>
            <p>Frankie Alarkon - Admin</p>
            <p>Millie Radesich - Admin</p>
        </div>
        <div>
            <h4>Animation Leads</h4>
            <p>Michael Marcus - Coordinator</p>
            <p>Dung Nguyen - Coordinator</p>

            <h4>Showreels</h4>
            <p>Harry Fellows - Lead Showreel Producer</p>
            <p>Michael Marcus - Lead Showreel Producer</p>
            <p>Winston Foo - Editor</p>
            <p>Dung Nguyen - Editor</p>
            <p>Kirsty Heiner - Editor</p>
            <p>Brandon Doray - Editor</p>
            <p>Jen Doman - Editor</p>

            <h4>Showreel Bumpers</h4>
            <p>Angeline Nguyen - GD Bumper</p>
            <p>James Williamson - AGD Bumper</p>
            <p>David Godsell - DD Bumper</p>
            <p>Kirsty Heiner - ILL Bumper</p>
            <p>Lisa Gojak - Bumper Assist  </p>

            <h4>Writers</h4>
            <p>Naomi Gunton - Lead Copywriter</p>
            <p>Chloe Spence - Copywriter</p>
            <p>Jess Brown - Copywriter</p>
            <p>Sarah Phonemyint - Copywriter</p>
            <p>Tom Brennan - Copywriter</p>

        </div>
        <div>
            <h4>Testing & Quality Assurance</h4>
            <p>Harry Fellows - Lead Tester</p>
            <p>Tom Brennan - Lead Tester</p>
            <p>Daniel Westbrook - Website Tester</p>
            <p>Nathan Cowley-Cooper - Website Tester</p>
            <p>David Menzies - UX Tester</p>
            <p>Alice Kim - General Tester</p>
            <p>Angeline Nguyen - General Tester</p>
            <p>Bruce Qian - General Tester</p>
            <p>Cheryl Owyong - General Tester</p>
            <p>David Godsell - General Tester</p>
            <p>Emily Mee - General Tester</p>
            <p>Genesis Radovan  - General Tester</p>
            <p>James Williamson - General Tester</p>
            <p>Jesse Bryant - General Tester</p>
            <p>Kirsty Heiner - General Tester</p>
            <p>Lachlan Robertson - General Tester</p>
            <p>Lisa Gojak - General Tester</p>
            <p>Luc-Lang Nguyen - General Tester</p>
            <p>Michael Marcus - General Tester</p>
            <p>Naomi Gunton - General Tester</p>
            <p>Patricia Yu - General Tester</p>
            <p>Robin McMahon - General Tester</p>
            <p>Scott Bell - General Tester</p>
            <p>Soomin Koh - General Tester</p>
            <p>Winston Foo - General Tester</p>
            <p>Yong Low - General Tester</p>
        </div>
        <div>
            <h4>Product Managers</h4>
            <p>Naomi Gunton - Lead Product Manager</p>
            <p>Sarah Phonemyint - Product Manager </p>

            <h4>Website Coders</h4>
            <p>Daniel Westbrook - Frontend Developer/Lead</p>
            <p>Francis Villarba - Backend Developer/Lead</p>
            <p>James Berry - Frontend Developer</p>
            <p>Luke Fordham - Frontend Developer</p>
            <p>Nathan Cowley-Cooper - Frontend Developer</p>

            <h4>UX Designers</h4>
            <p>David Menzies - Lead UX Designer</p>
            <p>Cheryl Owyong - UX Designer</p>
            <p>Frazer Childs - UX Designer</p>
            <p>Gaby Ortiz - UX Designer</p>
            <p>Justin Ha - UX Designer</p>
            <p>Marcelo Vilches - UX Designer</p>
            <p>Millie Radesich - UX Designer</p>
            <p>Soomin Koh - UX Designer</p>
            <p>Tommy Woodward - UX Designer</p>
            <p>Bruce Qian - UX Designer</p>

            <h4>Staff</h4>
            <p>Dan McKeating</p>
            <p>Lee Ingram</p>
            <p>Joel Louie</p>
            <p>Jonathan Pillai</p>
        </div>
    </div>
</div>

<div class="page-padding about-space-bottom">
    <p class="max-w-600 mb-4 transition-fadeout">
        We, the 2020 graduates acknowledge the Whadjuk people of the Noongar 
        peoples as the traditional owners of the land on which we have studied. 
        We pay our deepest respects to their Elders; past, present, and emerging.
    </p>
</div>




