---
title: Ping Pong Bash // Curtin Grad Show
layout: default
description: The page you were looking for could not be found. Disruption 2020 features graduates across the majors of Animation & Game Design, Creative Advertising & Graphic Design, Digital Design, and Illustration.
---

<div class="page-padding my-6 layout-main is-flex layout-main items-center">
    <div class="w-full">
        <p class="mb-4">When they zig we zag</p>
        <h1 class="title max-w-500 mb-6">The Great Ping Pong Bash Tournament Results</h1>
        <div class="credits-cont w-full transition-fadeout">
            <div>
                <h4>Justin Ha</h4>
                <p>57</p>
                <h4>Frazer Childs</h4>
                <p>25</p>
            </div>
            <div>
                <h4>Tom Brennan</h4>
                <p>100</p>
                <h4>Marcelo Vilches</h4>
                <p>9</p>
            </div>
            <div>
                <h4>Luke Fordham</h4>
                <p>75</p>
                <h4>Daniel Westbrook</h4>
                <p>60</p>
            </div>
            <div>
                <h4>Jess Brown</h4>
                <p>13</p>
                <h4>David Menzies</h4>
                <p>2</p>
            </div>
        </div>
    </div>
</div>