---
layout: noOffset
---
<!-- Hero Banner Section  -->
<section>
    <div class="hero has-background-primary home-banner">
        <video autoplay="" class="video" loop="" muted="">
            <source src="/video/disrupt.mp4" type="video/mp4" /> 
            Your browser does not support video.
        </video>
    </div>
</section>

<!-- Main Content Section -->
<section class="main-home page-padding">
    <!-- Left Side Content -->
    <div class="home-left">
        <h1 class="title is-size-1 is-size-4-mobile">The Showcase of Curtin University Design & Architecture Graduates</h1>
        <p class="max-w-600">
            Disruption 2020 is the final year showcase of Curtin University Design & Architecture graduates. 
            We're fluid, we're flexible, we bend and push until a design is resolved. When they zig, we zag. 
            We're accustomed to disruption, and successful in the face of upheaval. Our portfolios are almost 
            ready to go live and send waves through the Australian design industry. Come meet us, and see what 
            our warped minds are capable of.
        </p>
    </div>

    <!-- Right Side Content -->
    <div class="home-right">
        <h2 class="title is-size-1 grad-title is-size-4-mobile">Graduate Navigation</h2>
        <div class="disciplines-container">
            <a href="/major/illustration">
                <div class="discipline slidein" >
                    <p>Illustration</p>
                    <img src="/imgs/orbs/ill.png">
                </div>
            </a>
            <a href="/major/digital-design">
                <div class="discipline slidein">
                    <p>Digital Design</p>
                    <img src="/imgs/orbs/dd.png">
                </div>
            </a>
            <a href="/major/creative-advertising-and-graphic-design">
                <div class="discipline slidein">
                    <p>Creative Advertising & Graphic Design</p>
                    <img src="/imgs/orbs/cagd.png">
                </div>
            </a>
            <a href="/major/animation-and-game-design">
                <div class="discipline slidein">
                    <p>Animation & Game Design</p>
                    <img src="/imgs/orbs/agd.png">
                </div>
            </a>
        </div>
    </div>
</section>