---
layout: noOffset
---
<!-- Hero Banner Section  -->
<section>
    <div class="hero has-background-primary home-banner">
        <video autoplay="" class="video" loop="" muted="">
            <source src="/video/warped-text.mp4" type="video/mp4" /> 
            Your browser does not support video.
        </video>
    </div>
</section>

<div class="section-divider"></div>

<!-- Main Content Section -->
<section class="main-home-padding px-6">
    <!-- Left Side Content -->
    <div class="home-left">
        <h1 class="title is-size-1 is-size-3-mobile">The Showcase of Curtin University Design & Architecture Graduates</h1>
        <p class="max-w-600">
            We're fluid. We're flexible. We bend and push until a design is resolved. 
            When they zig. We Zag. We're accustomsed to disruption and successful in the
            face of upheaval. Our portfolios are almost ready to go live and send waves
            through the Australian design industry. Come meet us and see what our warped
            minds are capable of.
        </p>
    </div>

    <!-- Right Side Content -->
    <div class="home-right mb-4 mt-6">
        <h2 class="title is-size-1 is-size-3-mobile">Graduate Navigation</h2>
        <div class="disciplines-container">
            <a href="/major/illustration">
                <div class="is-flex flex-column items-center has-tooltip-bottom scale" data-tooltip="Illustration">
                    <img class="mb-4" src="imgs/orbs/ill.png">
                    <p>ILL</p>
                </div>
            </a>
            <a href="/major/digital-design">
                <div class="is-flex flex-column items-center has-tooltip-bottom scale" data-tooltip="Digital Design">
                    <img class="mb-4" src="imgs/orbs/dd.png">
                    <p>DD</p>
                </div>
            </a>
            <a href="/major/graphic-design">
                <div class="is-flex flex-column items-center has-tooltip-bottom scale" data-tooltip="Creative Advertising & Graphic Design">
                    <img class="mb-4" src="imgs/orbs/ca.png">
                    <p>CA & GD</p>
                </div>
            </a>
            <a href="/major/animation-and-game-design">
                <div class="is-flex flex-column items-center has-tooltip-bottom scale" data-tooltip="Animation & Game Design">
                    <img class="mb-4" src="imgs/orbs/agd.png">
                    <p>AGD</p>
                </div>
            </a>
        </div>
    </div>
</section>