---
layout: noOffset
---
<!-- Hero Banner Section  -->
<section>
    <div class="hero has-background-primary home-banner">
        <video autoplay="" class="video" loop="" muted="">
            <source src="/video/disrupt.mp4" type="video/mp4" /> 
            Your browser does not support video.
        </video>
    </div>
</section>

<div class="section-divider"></div>

<!-- Main Content Section -->
<section class="main-home-padding page-padding">
    <!-- Left Side Content -->
    <div class="home-left">
        <h1 class="title is-size-1 is-size-3-mobile">The Showcase of Curtin University Design & Architecture Graduates</h1>
        <p class="max-w-600">
            We're fluid. We're flexible. We bend and push until a design is resolved. 
            When they zig. We Zag. We're accustomsed to disruption and successful in the
            face of upheaval. Our portfolios are almost ready to go live and send waves
            through the Australian design industry. Come meet us and see what our warped
            minds are capable of.
        </p>
    </div>

    <!-- Right Side Content -->
    <div class="home-right mb-4 mt-6">
        <h2 class="title is-size-1 is-size-3-mobile">Graduate Navigation</h2>
        <div class="disciplines-container">
            <a href="/major/illustration">
                <div class="discipline scale" >
                    <p>Illustration</p>
                    <img src="imgs/orbs/ill.png">
                </div>
            </a>
            <a href="/major/digital-design">
                <div class="discipline scale">
                    <p>Digital Design</p>
                    <img src="imgs/orbs/dd.png">
                </div>
            </a>
            <a href="/major/graphic-design">
                <div class="discipline scale">
                    <p>Creative Advertising & Graphic Design</p>
                    <img src="imgs/orbs/ca.png">
                </div>
            </a>
            <a href="/major/animation-and-game-design">
                <div class="discipline scale">
                    <p>Animation & Game Design</p>
                    <img src="imgs/orbs/agd.png">
                </div>
            </a>
        </div>
    </div>
</section>