---
layout: default.njk
title: Graduating Students
--- 

<section class="banner">
  <div class="banner-text">
    <h3 class="major-intro">Students From The Major Of</h3>
    <h1 class="title major-title"></h1>
  </div>
  <img class="banner-img" src=".././imgs/large/dd_large.png"></img>
</section>
<section class="profile-listing-showreel-container">
</section>
<section class="search-bar-section">
  <div class="search-bar-wrapper">
    <p class="control has-icons-left">
        <input class="search-bar" type="text" placeholder="SEARCH">
        <span class="icon is-left search-icon">
          <i class="fas fa-search"></i>
        </span>
    </p>
  </div>
</section>
<section class="student-profiles student-profile-container">
</section>

