---
layout: default.njk
title: Disruption 2020 // Curtin Grad Show
pagination:
    data: majorsComputed
    size: 1
    alias: major
permalink: "major/{{ major.title | slug }}/"
description: Disruption 2020 is the final year showcase of Curtin University Design graduates. We're fluid, we're flexible, we bend and push until a design is resolved. When they zig, we zag. We're accustomed to disruption, and successful in the face of upheaval. Come meet us, and see what our warped minds are capable of.

--- 

<section data-title="{{ major.title }} // Disruption 2020 // Curtin Grad Show" class="banner page-padding py-6">
  <div class="banner-text">
    {% if major.id === '0' %}
      <p class="major-intro transition-fadeout">Design Graduates</p>
    {% else %}
      <p class="major-intro transition-fadeout">Graduates From The Major Of</p>
    {% endif %}
    <h1 class="title major-title is-size-1 is-size-4-mobile" data-major-id="{{ major.id }}" >{{ major.title }}</h1>
  </div>
  {% if major.color %}
    <div class="entry-fadein-delay-2">
      <img src="{{ major.color }}" class="banner-img" alt="">
    </div>
  {% endif %}
</section>
{% if major.id !== '0' %}
<section class="profile-listing-showreel-container">
  <iframe
    src="{{ major.showreel }}?=rel=0&color=white&loop=1&playsinline=1&modestbranding=1&controls=1&autoplay=1&mute=1&playlist={{ major.playlist }}"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
  ></iframe>
</section>
{% endif %}
<section class="py-6 page-padding mx-auto min-h-full">
  <div class="search-bar-section mb-6">
    <div class="search-bar-wrapper">
      <div class="control has-icons-left">
          <input class="search-bar" type="text" placeholder="Search">
          <span class="icon is-left search-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="17" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </span>
      </div>
      <div class="select">
        <select id="sortby">
          <option value="none">Random</option>
          <option value="firstaz">First Name A-Z</option>
          <option value="lastaz">Last Name A-Z</option>
        </select>
      </div>
      <label class="check">
        <input type="checkbox" id="ispref" checked="true">
        <span>Preferred Names</span>
      </label>
    </div>
  </div>
  <div class="student-profiles student-profile-container">
  </div>
</section>

