---
layout: default.njk
title: Major Page
pagination:
    data: majorsComputed
    size: 1
    alias: major
permalink: "major/{{ major.title | slug }}/"

--- 

<section class="banner px-6 py-6">
  <div class="banner-text">
    {% if major.id === '0' %}
      <h3 class="major-intro">Design & Architecture Graduates</h3>
    {% else %}
      <h3 class="major-intro">Students From The Major Of</h3>
    {% endif %}
    <h1 class="title major-title" data-major-id="{{ major.id }}" >{{ major.title }}</h1>
  </div>
  {% if major.color %}
    <img src="{{ major.color }}" class="banner-img" alt="">
  {% endif %}
</section>
{% if major.id !== '0' %}
  <section class="profile-listing-showreel-container">
  </section>
{% endif %}
<section class="py-6 px-6 mx-auto min-h-full">
  <div class="search-bar-section mb-6">
    <div class="search-bar-wrapper">
      <div class="control has-icons-left">
          <input class="search-bar" type="text" placeholder="Search">
          <span class="icon is-left search-icon">
            <i class="fas fa-search"></i>
          </span>
      </div>
    </div>
  </div>
  <div class="student-profiles student-profile-container">
  </div>
</section>

