---
title: Disruption 2020 // Curtin Grad Show
layout: default
permalink: 2019/
description: Disruption 2020 is the final year showcase of Curtin University Design graduates. We're fluid, we're flexible, we bend and push until a design is resolved. When they zig, we zag. We're accustomed to disruption, and successful in the face of upheaval. Our portfolios are ready to send waves through the Australian design industry. Come meet us, and see what our warped minds are capable of.
---

<div class="page-padding my-6 error-page">
    <div class="max-w-500">
        {# Work around for old search results - will atempt to redirect normally first #}
        <script>
            window.location.pathname = '/'
        </script>
    </div>
</div>