---
layout: default
title: Stephanie Day
---

<div>
    <div class="columns is-vcentered min-h-600">
        <div class="column is-one-third">
            <figure>
                <img src="./sample-student.jpg" class="fit-cover wide-min-h-600 stacked-max-h-600 w-full" alt="sample student">
            </figure>
        </div>
        <div class=".container.is-max-desktop">
            
                <div class="is-flex-grow-1">
                    <h4 class="sub-title is-size-4 max-w-600">Digital Design</h4>
                    <h1 class="title is-size-1 max-w-600 is-uppercase">Stephanie Day</h1>
                    <p class="has-text-info max-w-600">Tagline Lorem Ipsum Details Details</p>
                </div>
                <div>
                    <p class="is-flex-grow-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Enim nulla aliquet porttitor lacus luctus accumsan tortor. 
                        Donec adipiscing tristique risus nec feugiat in fermentum.
                    </p>
                    
                    <button class="mt-6 button">Portfolio</button>
                </div>
        </div>
    </div>
    <div class="columns is-vcentered min-h-600">
        <div class="column px-6">
            <div class="container my-6">
                <h2 class="title is-size-2 max-w-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>

                <p class="mt-4 mb-5 max-w-600">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Enim nulla aliquet porttitor lacus luctus accumsan tortor. 
                    Donec adipiscing tristique risus nec feugiat in fermentum.
                </p>
                <button class="button">Lorem Ipsum</button>
            </div>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <figure class="image is-square">
                        <img src="./port-img-1.jpg" class="fit-cover" alt="portfolio image">
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square">
                        <img src="./port-img-2.jpg" class="fit-cover" alt="portfolio image">
                    </figure>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <figure class="image is-square">
                        <img src="./port-img-3.jpg" class="fit-cover" alt="portfolio image">
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square">
                        <img src="./port-img-4.jpg" class="fit-cover" alt="portfolio image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>