---
layout: default
title: Stephanie Day
---

<div>
    <div class="columns is-vcentered min-h-600">
        <div class="column is-one-third">
            <figure>
                <img src="./sample-student.jpg" class="fit-cover wide-min-h-600 stacked-max-h-600 w-full" alt="sample student">
            </figure>
        </div>
        <div class="column px-6">
            <div class="container my-6">
                <h1 class="title is-size-1 max-w-600">Stephanie Day</h1>
                <p class="has-text-info max-w-600">#creativity #detailoriented #teambuilding</p>

                <p class="mt-6 max-w-600">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Enim nulla aliquet porttitor lacus luctus accumsan tortor. 
                    Donec adipiscing tristique risus nec feugiat in fermentum.
                </p>
                <a href="#"><p class="mt-4 mb-5 max-w-600">www.stephanieday.com.au</p></a>
            </div>
        </div>
    </div>
    <div class="student-image-grid px-6 py-6 has-background-white">
        <img src="https://via.placeholder.com/2560x1920" alt="Alt Tag">
        <img src="https://via.placeholder.com/2560x1920" alt="Alt Tag">
        <img src="https://via.placeholder.com/2560x1920" alt="Alt Tag">
        <img src="https://via.placeholder.com/2560x1920" alt="Alt Tag">
        <img src="https://via.placeholder.com/2560x1920" alt="Alt Tag">
    </div>
</div>